@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$font-jost: 'Jost', sans-serif;
$font-corm: 'Cormorant', serif;

$green: #27300f;
$orange: #d26a22;
$black: #000;
$white: #fff;
$t: 0.5s;

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-jost;
  color: $green;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__nav {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    gap: 4.8rem;
  }

  &__link,
  &__tel {
    color: $green;
    text-decoration: none;
    transition: color $t;
    &:hover {
      color: $orange;
    }
  }

  &__tel {
    font-weight: 500;
  }

  &__cart {
    background-image: url(../images/cart.svg);
    background-color: $orange;
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 100%;
    position: relative;
    transition: background-color $t;
    &:hover {
      background-color: $green;
    }
  }

  &__counter {
    color: $white;
    font-size: 0.8rem;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
  }
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 12rem;
  height: 3.2rem;
}

.title {
  font-family: $font-corm;
  font-size: 8rem;
  margin: 0;
  &__span {
    font-style: italic;
  }
  &_block {
    .title__span {
      display: block;
    }
  }
}

.description {
  margin: 0;
  line-height: 1.5;
  &_size-s {
    font-size: 1.8rem;
  }
  &_size-m {
    font-size: 2.4rem;
  }
}

.link {
  display: inline-block;
  color: $white;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  padding: 2.5rem 4.2rem;
  background-color: $orange;
  box-shadow: 0 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
  text-decoration: none;
  border-radius: 3.8rem;
}

.main {
  position: relative;
  padding: 40px 0 187px;
  background-image: url(../images/main.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  z-index: 0;

  &__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
  }

  &__cover {
    flex-basis: 758px;
    height: 758px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__btn {
    border: none;
    padding: 0;
    color: $green;
    position: absolute;
    text-align: left;
    background-color: transparent;
    &::before {
      content: '';
      background-color: $green;
      width: 11px;
      height: 11px;
      border-radius: 100%;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
      position: absolute;
      transition: background-color $t, box-shadow $t;
    }
    &:hover::before {
      background-color: $orange;
      box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
    }
    &_1 {
      top: 87px;
      left: 34px;
      &::before {
        bottom: 10px;
        right: -25px;
      }
    }
    &_2 {
      top: 200px;
      left: 687px;
      &::before {
        top: 15px;
        left: -25px;
      }
    }
    &_3 {
      bottom: -48px;
      right: 265px;
      &::before {
        top: -25px;
        right: 30px;
      }
    }
  }
  &__food {
    display: block;
    color:rgba($green, 0.8);
  }

  &__tomato {
    width: 11rem;
    position: absolute;
    bottom: 120px;
    right: 120px;
    z-index: -1;
  }
  &__avocado {
    position: absolute;
    width: 19.4rem;
    top: 46px;
    right: 0;
    z-index: -1;
  }
  &__cucumber {
    position: absolute;
    width: 8.5rem;
    top: 0;
    left: 690px;
    z-index: -1;
  }
  &__pepper {
    position: absolute;
    width: 8.5rem;
    left: 40px;
    top: 400px;
    z-index: -1;
  }
  &__beans {
    position: absolute;
    width: 6.5rem;
    left: 0;
    bottom: 165px;
    z-index: -1;
  }

  &__line {
    width: 656px;
    height: 656px;
    border: 1px solid rgba($green, 0.4);
    border-radius: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    position: absolute;
    width: 92%;
    top: 68px;
    left: 70px;
  } 

  &__link {
    margin-top: 6rem;
  }

  &__item {
    max-width: 378px;
    margin-left: 12rem;
    margin-top: 6rem;
  }
}

.offer {
  background-image: url(../images/offer.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-bottom: 200px;
  &__text {
    margin-top: 6rem;
    max-width: 700px;
  }
  &__slider {
    overflow: hidden;
    padding-top: 100px;
  }
}

.swiper {
  overflow: initial;
  &-slide {
    border: 1px solid rgba($green, 0.4);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 4rem 3.7rem;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &-button-next,
  &-button-prev {
    top: -60px;
    &::after {
      color: rgba($green, 0.4);
      font-size: 20px;
    }
    &:hover::after {
      color:rgba($green, 1);
    }
  }
  &-button-prev {
    left: initial;
    right: 100px;
  }
}