$bg: #ccc;

.box {
  background-color: $bg;
  &__svg {
    transition: background-color 1s;
    & path {
      transition: fill 3s;
    }
    &:hover {
      background-color:aquamarine;
      & path {
        fill: #000;
      }
    }

  }
}
